# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build Folders
# =========================
dist/
build/
coverage/
classroom/

# =========================
# Text Files
# =========================
# *.txt
README.txt

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.local

package-lock.json
